/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪





-----------------*/




html {
	scroll-behavior: smooth;
}

body {
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
	margin: 0 auto;
}

/*　パディングをサイズ内側にする処理　*/
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/






/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
---------------------*/


/* header
---------------------*/

header {
	height: 80px;
	font-size: 21px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10000;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}


header li:hover {
	transform: rotate(12deg);
	color: #6a6a10;
	border-bottom: 1px solid black;
}

.header_logo {
	padding-left: 40px;
}

.header_logo img {
	height: 50px;
}

.main_image h1 {
	font-size: 48px;
}

.main_image p {
	font-size: 36px;
}

nav {
	width: 100%;
}

nav ul {
	display: flex;
	justify-content: right;
	align-items: center;
	padding-right: 30px;
}

nav ul a {
	color: inherit;
	text-decoration: none;
}

nav ul li {
	margin: 20px;
	font-size: 18px;
}


.main_image {
	background: url(../img/mainbg.png);
	background-size: cover;
	background-position: center;
	height: 600px;
	width: 100%;
	margin-top: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: aliceblue;
	overflow: hidden;

}

.main_image h1,
.main_image p {
	animation-name: fadeIn;
	animation-duration: 2s;

	margin-bottom: 0.2rem;
	padding: 1rem 1rem calc(1rem + 10px);
	/* background: #3B3937; */
	color: white;
	text-shadow:
		-1px 1px #999,
		-2px 2px #888,
		-3px 3px #777,
		-4px 4px #666,
		-5px 5px #555,
		-6px 6px #444,
		-7px 7px #333,
		-8px 8px #222,
		-9px 9px #111,
		-10px 10px 5px #FFFF00;
	font-weight: bold;
	text-align: center;
	border-radius: 20px;
}


/* about
---------------------*/

.about {
	width: 100%;
}

.about_text {
	text-align: center;
}

.about_text h2 {
	font-size: 40px;
	color: #ffd61a;
	margin-top: 120px;
	margin-bottom: 24px;

	animation: 3s linear infinite rotation1;
}

.description p:nth-child(1) {
	margin-bottom: 64px;
}

.description p:nth-child(2) {
	margin-bottom: 40px;
}

.description p:nth-child(3) {
	margin-bottom: 40px;
}

.description p:last-child {
	margin-bottom: 80px;
}

.description {
	animation: slideIn 9s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

.about_movie {
	margin-top: 60px;
	margin-bottom: 50px;
}

.about_movie iframe {
	width: 60%;
	height: 500px;
}



/* course
---------------------*/

#course {
	width: 100%;
}

.course_top_text {
	text-align: center;
	margin-top: 64px;
	margin-bottom: 64px;
}

.course_top_text h2 {
	font-size: 40px;
	color: #ffd61a;
	margin-bottom: 32px;
}

.course_item {
	display: flex;
}

.course_item img {
	width: 50%;
}

.course_item_description {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: aliceblue;
}

.course_item_description h3 {
	font-size: 24px;
	color: #222222;
	margin-bottom: 40px;
}

#course li:nth-child(even) {
	flex-direction: row-reverse;
}

/* news
---------------------*/

#news {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 48px;
}

.news_text {
	margin-top: 64px;
	margin-bottom: 64px;
}

#ticKer {
	box-shadow: 1px 5px 4px rgb(118, 112, 112);
}


#wrapper {
	display: block;
	width: 100%;
	text-align: center;
	margin: 30px auto;
}

#title {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 20px 0;
}

#ticKer {
	border-radius: 20px;
	/* 角丸ボーダー */
	width: 500px;
	/* 横幅 */
	background: #ffd61a;
	/* 背景色 */
	position: relative;
	/* 相対配置（相対位置）*/
	overflow: hidden;
	/* はみ出た部分を非表示 */
	margin: 0 auto;
}

#ticKer ul {
	padding: 0;
	/* 内側余白*/
	margin: 0 auto;
}

#ticKer li {
	list-style-type: none;
	/* リストマーク なし */
	line-height: 2.5em;
	padding-left: 25px;
	color: #000;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
}



.news_text h2 {
	font-size: 40px;
	color: #ffd61a;
}

.news_text p {
	text-align: center;
}

.news_list {
	display: flex;
}

.news_item {
	margin-left: 20px;
}

.news_item img {
	width: 100%;
	filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.9));
}

.news_date {
	margin-top: 32px;
	margin-bottom: 24px;
}

.more {
	background-color: #ffd61a;
	width: 300px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 21px;
	margin-top: 56px;
	color: #efefef;
	border-radius: 20px;
	cursor: pointer;
}

.more a {
	color: inherit;
	text-decoration: none;
}

/* access
---------------------*/

#access {
	width: 100%;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.access_text {
	margin-top: 64px;
	margin-bottom: 64px;
	text-align: center;
}

.access_title {
	font-size: 40px;
	color: #ffd61a;
}

.access_text h2 {
	margin-bottom: 24px;
}

iframe {
	height: 380px;
}

table {
	margin-top: 64px;
	margin-bottom: 80px;
}

th {
	font-weight: lighter;
	text-align: left;
}

td {
	padding-left: 48px;
	padding-bottom: 24px;
}

/* contact
---------------------*/



.contact_text {
	text-align: center;
	margin-bottom: 80px;
	margin-top: 60px;
}

.contact_title {
	font-size: 40px;
	color: #ffd61a;
}

span {
	background-color: red;
	padding: 4px;
	border-radius: 4px;
	color: whitesmoke;
}

.contact_title {
	margin-bottom: 20px;
}


.contact_text p:nth-child(2) {
	margin-bottom: 40px;
}

.contact_text p:nth-child(3) {
	margin-bottom: 32px;
}

.contact_text p:nth-child(4) {
	margin-bottom: 80px;
}


.name,
.kana,
.email {
	display: flex;
	justify-content: center;
}

.form {
	margin-left: 120px;
	border: 1px solid #737373;
	width: 390px;
	margin-bottom: 24px;
}

label {
	width: 160px;
}

.checkbox {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.checkbox p {
	width: 160px;
}

.check {
	width: 390px;
	margin-left: 120px;
}

.check p {
	margin-bottom: 24px;
}

.textarea {
	display: flex;
	justify-content: center;
	margin-top: 32px;
}

.form input {
	width: 100%;
	height: 36px;
}

textarea {
	width: 390px;
	height: 108px;
	margin-left: 120px;
	border: 1px solid #737373;
}

.btn {
	display: flex;
	justify-content: center;
}


button {
	background-color: #ffd61a;
	border: 1px solid #ffd61a;
	width: 298px;
	height: 54px;
	color: #efefef;
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 150px;
	border-radius: 30px;
	box-shadow: 0 5px 0 #a68a10;
	cursor: pointer;
}

button:active {
	box-shadow: none;
	transform: translateY(5px);
}



.pagetop {
	height: 50px;
	width: 50px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	background: #fff;
	border: solid 2px #000;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.pagetop__arrow {
	height: 10px;
	width: 10px;
	border-top: 3px solid #000;
	border-right: 3px solid #000;
	transform: translateY(20%) rotate(-45deg);
}

/* footer
---------------------*/

.sns img {
	margin-left: 15px;
	margin-bottom: 20px;
}

footer {
	background-color: #707070;
	color: #efefef;
	font-size: 18px;
	padding-top: 32px;
	padding-bottom: 32px;
	text-align: center;
}



/* アニメーション
---------------------*/

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(90px);
	}

	to {
		opacity: 10;
		transform: translateY(0);
	}
}



@keyframes rotation1 {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotateY(360deg);
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(180px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
	}

	40%,
	100% {
		opacity: 1;
	}
}

@keyframes loop {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

.scroll {
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 180px;
	overflow-y: hidden;
	border: 0.5px solid;
	padding: 30px;
	max-width: 100%;
}

.scroll-list {
	display: flex;
	align-items: center;
	animation: loop infinite linear 30s both;


}